@import '../../node_modules/bootstrap/scss/bootstrap';
@import './front.scss';
@mixin centered {
     display: flex;
     align-items: center;
     justify-content: center;
}

.intranetLogo {
     height: 60px;
     width: 60px;
}
#hiddenLinkToLogin {
     display: none;
}
main {
     padding-top: 120px;
}
.inline {
     display: inline;
}
#root main form {
     border-radius: 8px;
     border: 1px solid #ced4da;
     padding: 10px;
}
div > .MuiDialog-paperWidthSm {
     max-width: 70%;
}
.rdw-center-aligned-block * {
     text-align: center !important;
}
.public-DraftStyleDefault-ltr {
     text-align: inherit !important;
}

.fixed-button {
     position: fixed;
     right: 23px;
     bottom: 23px;
     padding-top: 15px;
     margin-bottom: 0;
     z-index: 997;
     bottom: 45px;
     right: 24px;
}
.inline-block {
     display: inline-block;
}
.text-teal {
     color: teal;
}
.default-width {
     width: auto;
}

.rdw-dropdown-selectedtext {
     color: grey;
     text-decoration: none;
}
.wrapper-mails-sending {
     border: lightgray;
     border-style: solid;
     border-width: 1px;
     padding: 3px;
}
.editor-mails-sending {
     border: lightgray;
     border-style: solid;
     border-width: 1px;
     margin-top: 5px;
     min-height: 200px;
     padding-left: 10px;
     padding-right: 10px;
}
.toolbar-mails-sending .rdw-option-wrapper {
     border: lightgray;
     border-style: solid;
     border-width: 1px;
}

.centered {
     @include centered();
}

.separateIcon {
     margin-left: 5px;
}

.margin-right-15px {
     margin-right: 15px;
}
.margin-right-5px {
     margin-right: 5px;
}

.button-floating {
     @include centered();
     color: #fff;
     position: relative;
     overflow: hidden;
     z-index: 1;
     width: 40px;
     height: 40px;
     line-height: 40px;
     background-color: #26a69a;
     border-radius: 50%;
     -webkit-transition: background-color 0.3s;
     transition: background-color 0.3s;
     cursor: pointer;
     vertical-align: middle;
     text-align: center;
     width: 56px;
     height: 56px;
     font-size: 30px;
}

.btn-floating i {
     position: absolute;
     top: 0;
     left: 0;
     text-align: center;
     color: red;
}

.separated {
     margin-right: 10px;
     margin-bottom: 10px;
     margin-top: 10px;
}
.thumbnail {
     width: 100px;
}
.brand {
     background-color: #009ed8;
     color: white;
     text-align: center;
     cursor: pointer;
}
.selectable {
     cursor: pointer;
}
.img-container {
     position: relative;
     display: inline-block;
}
.img-container .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: black;
     opacity: 0;
     transition: opacity 500ms ease-in-out;
}
.img-container:hover .overlay {
     opacity: 0.5;
}

.img-container span {
     display: flex;
     align-items: center;
     justify-content: center;
}

.overlay span {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
}
.brand-description {
     background-color: #181919;
     color: white;
}

.active {
     background-color: teal !important;
     color: white !important;
}

.nav a {
     background-color: #f8f9fa;
     color: rgba(0, 0, 0, 0.55);
     display: block;
     padding: 0.5rem 1rem;
     text-decoration: none;
     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out;
}
.nav a:focus,
.nav a:hover {
     color: black;
}
.flexParentRowChildren {
     display: flex;
     flex-direction: row;
}
.flexparentrowchildren button {
     margin-right: 10px;
}
