#header-background{
  background-image: url("../images/background.jpg");
  background-size: 100%;
  padding-top: 50px;
  min-height: 300px;
  background-position: center center;
}

.brand{
    background-color: #009ed8;
    color: white;
    text-align: center;
    cursor:pointer;
}
.selectable{
    cursor:pointer;

}
.brand-description{
    background-color: #181919;
    color: white;
}

.nav {
  
    padding-top: 130px;
    .nav-link{
        background-color:#181919 ;
        color:white;
        
        
    }
    .nav-link:focus,.nav-link:hover{
        color:white;
        
        
    }

    .active {
        background-color: #009ed8;
    }

}


  
  